<launch>

    <!-- Configurable arguments -->
    <arg name="robot_name" default="sam"/>

    <arg name="loop_freq" default="20."/>
    <arg name="verbose_arg" default="True"/>

    <!-- topics, note the root! -->
    <arg name="state_feedback_topic" default="/$(arg robot_name)/dr/odom" />

    <arg name="state_estimation_topic" default="/$(arg robot_name)/EstimatedPose" />

    <arg name="vbs_topic" default="/$(arg robot_name)/core/vbs_cmd" />

    <!-- Motion Planning Launch-->
    <arg name="waypoint_topic_arg" default="/waypoint_topic"/>
    <arg name="motion_plan_service_arg" default="/motion_plan_service"/>
    <arg name="state_topic_arg" default="sam/EstimatedPose"/>
    <arg name="base_frame_arg" default="sam/base_link/estimated"/>
    <arg name="docking_frame_arg" default="docking_station_planning"/>
    <arg name="map_frame_arg" default="map"/>
    <arg name="waypoint_marker_arg" default="/planner_node/waypoint_marker_topic"/>
    <arg name="found_station_arg" default="/found_station"/>


    <!-- Nodes -->
    <node pkg="sam_motion_planning" type="planner_class.py" name="planner_node" output="screen">
        <param name="waypoint_topic_name" value="$(arg waypoint_topic_arg)"/>
        <param name="waypoint_marker_topic" value="$(arg waypoint_marker_arg)"/>
        <param name="motion_plan_service_topic_name" value="$(arg motion_plan_service_arg)"/>
        <param name="state_topic_name" value="$(arg state_topic_arg)"/>

        <param name="base_frame_name" value="$(arg base_frame_arg)"/>
        <param name="docking_frame_name" value="$(arg docking_frame_arg)"/>
        <param name="map_frame_name" value="$(arg map_frame_arg)"/>
        <param name="found_station_name" value="$(arg found_station_arg)"/>
    </node>

    <!-- Control Launch-->
    <arg name="ref_pose_topic" default="$(arg waypoint_topic_arg)" />

    <node name="WaypointFollowingController" pkg="visual_feedback" type="WaypointFollowingController.py"
        output="screen" ns="$(arg robot_name)/ctrl">

        <param name="loop_freq" value="$(arg loop_freq)"/>
        <param name="verbose" value="$(arg verbose_arg)"/>

        <param name="ref_pose_topic" value="$(arg ref_pose_topic)" />

        <param name="state_feedback_topic" value="$(arg state_feedback_topic)" />
        <param name="state_estimation_topic" value="$(arg state_estimation_topic)" />
        <param name="vbs_topic" value="$(arg vbs_topic)" />
    </node>

</launch>
